body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align:center;
  color:white;
  background-color:black;
}

a {
  color: #00B7FF;
}
img {height:10%;width:10%;}
#content {
  overflow-y:auto;
}